﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p> 姓名:  @Html.TextBox("username")</p>
<p> 帳號:  @Html.TextBox("account")</p>
<p> 密碼:  @Html.Password("password")</p>
<p>
    性別:
    @Html.RadioButton("gender","a") 男性
    @Html.RadioButton("gender","b")女性

</p>

<p>
    興趣:
    @Html.CheckBox("habby-1","a") 泳游
    @Html.CheckBox("habby-2","b") 閱讀
    @Html.CheckBox("habby-3","c") 看電影
</p>
<p> 自我介紹:</br>   @Html.TextArea("aboutme")</p>


@*<p> 姓名: <input type="text" name="name" value="" /></p>
    <p> 帳號: <input type="text" name="name" value="" /></p>
    <p> 密碼:  <input type="password" name="name" value="" /></p>
    <p>
        性別:
        <input type="radio" name="gender" value="man" /> 男性
        <input type="radio" name="gender" value="woman" /> 女性

    </p>

    <p>
        興趣:
        <input type="checkbox" name="sleep" value="sleep" /> 泳游
        <input type="checkbox" name="eat" value="eat" /> 閱讀
        <input type="checkbox" name="look" value="look" /> 看電影
    </p>
    <p> 自我介紹:</br>   <textarea name="message" rows="5" cols="30"></textarea></p>*@