﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>

<p> 姓名: <input type="text" name="name" value="" /></p>
<p> 帳號: <input type="text" name="name" value="" /></p>
<p> 密碼:  <input type="password" name="name" value="" /></p>
<p>
    性別:
    <input type="radio" name="gender" value="man" /> 男性
    <input type="radio" name="gender" value="woman" /> 女性

</p>

<p> 興趣:
    <input type="checkbox" name="sleep" value="sleep" /> 泳游 
    <input type="checkbox" name="eat" value="eat" /> 閱讀
    <input type="checkbox" name="look" value="look" /> 看電影
</p>
<p> 自我介紹:</br>   <textarea name="message" rows="5" cols="30"></textarea></p>