﻿@model mytest.ViewModels.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>BMI計算</h2>
<p>BMI=體重(kg)/身高(^2)</p>
<form action="/BMI/Index" method="post">

    <p>@Html.DisplayNameFor(m => m.Height) @Html.TextBoxFor(m=>m.Height) 公分 @Html.ValidationMessageFor(modleItem=>Model.Height)</p>
    <p>@Html.DisplayNameFor(m => m.Weight) @Html.TextBoxFor(m => m.Weight) 公斤 @Html.ValidationMessageFor(modleItem => Model.Weight)</p>
    <p><input type="submit" value="送出" /></p>
</form>
<p>計算結果:@Model.Result</p>
<p>等級:@Model.Level</p>